.game {
    width: 800px;
    height: 600px;
    background-image: url(fond.png);
    border: 8px solid #f79646;
    margin: auto;
}

#pnj {
    width: 100px;
    height: 100px;
    background-image: url(Walk1.png);
    background-size: 100px 100px;
    position: relative;
    top: 400px;
    left: 50px;
}

.jump {
    animation: jump 0.3s linear;
}


/*
background-image: url(image1.png), url(image2.png), url(image3.png);
background-repeat: no-repeat;
background-position: 0 0, 100% 0, 200% 0;
animation: animation-name 4s steps(3, end) infinite;
}

@keyframes animation-name {
0% {
    background-position: 0 0, 100% 0, 200% 0;
}
100% {
    background-position: -100% 0, 0 0, 100% 0;
}
}
*/

@keyframes jump {
    0% {
        top: 400px;
    }
    30% {
        top: 300px;
    }
    50% {
        top: 250px;
    }
    80% {
        top: 300px;
    }
    100% {
        top: 400px;
    }
}

#obstacle {
    width: 50px;
    height: 50px;
    position: relative;
    top: 350px;
    left: 580px;
    background-image: url(caisse_en_bois.png);
    background-size: 50px 50px;
    animation: block 2s infinite linear;
}

@keyframes block {
    0% {
        left: 600px;
    }
    100% {
        left: -20px;
    }
}

@keyframes slide {}