.game {
    width: 800px;
    height: 600px;
    background-image: url(fond.png);
    border: 8px solid #f79646;
    margin: auto;
}

#pnj {
    width: 100px;
    height: 100px;
    background-image: url(Walk1.png);
    background-size: 100px 100px;
    position: relative;
    top: 400px;
    left: 50px;
    transition: all 10s;
    animation: run 1s infinite linear;
}

@keyframes run {
    0% {
        background-image: url(assets/png/run1.png);
    }
    12.5% {
        background-image: url(assets/png/run2.png);
    }
    25% {
        background-image: url(assets/png/run3.png);
    }
    37.5% {
        background-image: url(assets/png/run4.png);
    }
    50% {
        background-image: url(assets/png/run5.png);
    }
    62.5% {
        background-image: url(assets/png/run6.png);
    }
    75% {
        background-image: url(assets/png/run7.png);
    }
    87.5% {
        background-image: url(assets/png/run8.png);
    }
    100% {
        background-image: url(assets/png/run1png);
    }
}

#pnj.jump {
    animation: jump 0.3s linear;
}

@keyframes jump {
    0% {
        top: 400px;
    }
    30% {
        top: 300px;
    }
    50% {
        top: 250px;
    }
    80% {
        top: 300px;
    }
    100% {
        top: 400px;
    }
}

#caisse {
    width: 40px;
    height: 40px;
    position: relative;
    top: 350px;
    left: 580px;
    background-image: url(caisse_en_bois.png);
    background-size: 50px 50px;
    animation: block 2s infinite linear;
}

@keyframes block {
    0% {
        left: 600px;
    }
    100% {
        left: -20px;
    }
}


/*
@keyframes slide {
    0% {
        top: 350px
    }
    100% {
        top: 450px
    }
}

#pnj .slide {
    background-image: url(assets/png/Slide1.png);
    animation: slide 0.3s linear;
}